modules = ["nodejs-20", "web", "nodejs-22"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["sh", "-c", "npx --no-install vite build --config vite.config.mjs"]

[env]
NODE_ENV = "production"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 80
